{{input type="text" value=model.name placeholder="The name of the book"}}
{{input type="text" value=model.price placeholder="Price of the book"}}
<button type="submit" value="updateBook" {{action 'updateBook' model }}>Update</button>