{{input type="text" value=model.name placeholder="The name of the book"}}
{{input type="text" value=model.price placeholder="Price of the book"}}
<button type="submit" value="createBook" {{action 'createLibrary' model }}>create new</button>